{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -e

echo "[macos-config] Started chezmoi macos config script."

# Create SSL certificate if it doesn't exist
if [ ! -f "/opt/homebrew/etc/nginx/ssl/nginx.crt" ] || [ ! -f "/opt/homebrew/etc/nginx/ssl/nginx.key" ]; then
  echo "[macos-config] SSL certificate not found. Creating self-signed SSL certificate for nginx..."
  mkdir -p /opt/homebrew/etc/nginx/ssl
  openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /opt/homebrew/etc/nginx/ssl/nginx.key -out /opt/homebrew/etc/nginx/ssl/nginx.crt -subj "/CN=localhost"
  echo "[macos-config] SSL certificate created at /opt/homebrew/etc/nginx/ssl/nginx.crt and /opt/homebrew/etc/nginx/ssl/nginx.key."
else
  echo "[macos-config] SSL certificate already exists. Skipping SSL certificate creation."
fi
# Create symbolic link for nginx configuration if it doesn't exist
if [ ! -f "/opt/homebrew/etc/nginx/nginx.conf" ]; then
  echo "[macos-config] Creating symbolic link for nginx configuration..."
  ln -s ~/config/nginx.conf /opt/homebrew/etc/nginx/nginx.conf
  echo "[macos-config] Symbolic link for nginx configuration created at /opt/homebrew/etc/nginx/nginx.conf."
else
  echo "[macos-config] Symbolic link for nginx configuration already exists. Skipping symbolic link creation."
fi
mkdir -p /opt/homebrew/etc/nginx/logs

echo "[macos-config] Finished chezmoi macos config script."
{{- end }}
