{{ if eq .chezmoi.os "windows" -}}

# Install scoop if not already installed
if (-not (Get-Command scoop -ErrorAction SilentlyContinue)) {
    Write-Host "Scoop not found. Installing Scoop..."
    Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
    Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
} else {
    Write-Host "Scoop is already installed. Skipping installation."
}

# Update scoop and install packages
Write-Host "Updating Scoop and installing packages..."
scoop update
scoop install fzf kubectl k9s kubens kubectx jq jid yq gh

{{- end }}
