{{ if eq .chezmoi.os "windows" -}}
$ErrorActionPreference = "Stop"

Write-Host "[windows-config] Started chezmoi windows config script."

if (-not (Get-Command mkcert -ErrorAction SilentlyContinue)) {
    throw "[windows-config] mkcert is required to generate certificates. Restart the terminal and run chezmoi apply again."
}

Write-Host "[windows-config] Running mkcert -install to ensure the local CA is installed..."
mkcert -install
Write-Host "[windows-config] mkcert -install completed. If not already done, you need to add the local CA to Firefox manually. Location: $(mkcert -CAROOT)"

# Create Nginx SSL certificate if it doesn't exist
$customConfigDir = "{{ .data.nginx.customConfigDir }}"
$installConfigDir = "{{ .data.nginx.installConfigDir }}"
$sslDir = Join-Path $customConfigDir "ssl"
$crtPath = Join-Path $sslDir "nginx.crt"
$keyPath = Join-Path $sslDir "nginx.key"
if (-not (Test-Path $crtPath) -or -not (Test-Path $keyPath)) {
    Write-Host "[windows-config] SSL certificate not found. Creating mkcert SSL certificate for nginx..."
    New-Item -ItemType Directory -Path $sslDir -Force | Out-Null

    mkcert -cert-file $crtPath -key-file $keyPath "django.local" "*.django.local" "angular.local" "localhost" "127.0.0.1" "::1"
    Write-Host "[windows-config] SSL certificate created at $crtPath and $keyPath."
} else {
    Write-Host "[windows-config] SSL certificate already exists. Skipping SSL certificate creation."
}

# Create symbolic link for nginx configuration
Write-Host "[windows-config] Creating symbolic link for nginx configuration..."
$sourceConfigPath = Join-Path $customConfigDir "nginx.conf"
$targetConfigPath = Join-Path $installConfigDir "nginx.conf"
New-Item -ItemType SymbolicLink -Path $targetConfigPath -Target $sourceConfigPath -Force | Out-Null
New-Item -ItemType Directory -Path (Join-Path $installConfigDir "logs") -Force | Out-Null

Write-Host "[windows-config] Finished chezmoi windows config script."
{{- end }}
