{{ if eq .chezmoi.os "windows" -}}

# Install scoop if not already installed
if (-not (Get-Command scoop -ErrorAction SilentlyContinue)) {
    Write-Host "[windows-install-packages] Scoop not found. Installing Scoop..."
    Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
    Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
} else {
    Write-Host "[windows-install-packages] Scoop is already installed. Skipping installation."
}

# Update scoop and install packages
Write-Host "[windows-install-packages] Updating Scoop and installing packages..."
scoop update
scoop bucket add extras
scoop install fzf kubectl k9s kubens kubectx jq jid yq gh nginx mkcert uv

Write-Host "[windows-install-packages] Finished installing packages."

{{- end }}
