[user]
	email = git@rafaelurben.ch
	name = Rafael Urben
	signingkey = {{ .chezmoi.homeDir }}/.ssh/git_key
[init]
	defaultBranch = main
[core]
	autocrlf = false
[credential "https://git.ffhs.ch"]
	provider = generic
[credential "https://git.heroku.com"]
	provider = generic
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
